/**** page main layout ****/
body {
  margin: 0px;
  padding: 0px 0px 10px 0px;  
  font:0.9em "trebuchet ms", helvetica, arial, sans-serif;
  overflow-y : scroll; 	
}
div {
align:center;
}

/** Header layout ***/
#header {text-align: center;
padding:0;  margin:0 auto;
list-style:none; 
width:80%; 
font-size:16px; color:#01395c; font-weight:normal; margin-top:15px; padding: 10px 0px 10px 0px;
 }
h1 {
color:#007fc6; background:#fff;
}

/*** Main sections layout ***/
#main {text-align: left;
padding:0;  margin:0 auto;
list-style:none; 
width:80%; 
font-size:16px; color:#000; font-weight:normal; margin-top:15px;
 }
h1 {
color:#007fc6; background:#fff;
}
h2 {
color:#007fc6; background:#fff;
}
h3 {
color:#007fc6; background:#fff;
}

.subtitle {
color:#0aa5c7;
font-size:44px;
}
/*** hyperrefs ***/
a {
 text-decoration: none;
}
h4 a {
color:#e33729; background:#fff;
}


/** Footer layout ***/
#footer {text-align: center;
padding:0;  margin:0 auto;
list-style:none; 
width:1000px; height:200px; 
font-size:12px; color:#888; font-weight:normal; margin-top:15px;
 }
/*** Footer logos ***/
ul.footerlogos {padding:0; margin:0 auto; list-style:none; width:1100px; height:100px; position:relative;}
ul.footerlogos li {width:220px; height:100px; float:left;}

ul.footerlogos li a {display:block; width:150px; height:50px; padding:25px; font-family:arial, sans-serif; color:#666; text-decoration:none; font-size:12px;
-webkit-transition: 0.1s;
-moz-transition: 0.1s;
-o-transition: 0.1s;
transition: 0.1s;
}

ul.footerlogos li:hover > a {text-align:center; height:64px; padding:18px; cursor:pointer;}
/*** avoiding borders ***/
a img
{
border: none;
}
/**** Stuff to get a padding above index.php main section ***/
.indexmain {
padding:10px 0 0 0;
}

/*** For doc generated title div ***/
div.title {
text-align: center;
padding-top:20px;
color:#01395c; background:#fff;
font-size:25px;
}
/*** For fitting with the 80 rule for blog-styling in doxy-generated pages ***/
div.contents {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width:80%;
  align:center;	
}

/*** Some stuff for download.php ***/
.box-surround {
    background-color: #E9E9E9;
    border-bottom-color: #888888;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #888888;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #888888;
    border-top-color: #888888;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.box-title-content {
    border-bottom-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #808080;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-top: 5px;
}
.listing_full {
}

.altRowStyleEven {background-color: #d7f3f7; font-weight: none}

.altRowStyleOdd { 
	background-color: #d7f3f7; 
	font-weight: none
}
.altRowStyleEven h3 {background-color: #d7f3f7;
}
/** Ugly hack (not proud of it) ***/
.multiTableRowTitle {
text-align: left;
display:none;
}
legend {
display:none;
}

/*** For the latest news ***/
.box-title-content {background:#d7f3f7;
		color:#007fc6;
}
.tablecontent tr td h3 a {background:#d7f3f7;
		color:#007fc6;
}

.tablecontent tr td h3 {background:#d7f3f7;
		color:#007fc6;
}

.tablecontent tr td  {background:#d7f3f7;
		color:#007fc6;
}

.box-surround {background:#d7f3f7;
		color:#007fc6;
}

.news-title {
    margin-bottom: 10px;
    margin-top: 5px;
}
.tablecontent {background:#d7f3f7;
		color:#007fc6;
}


